body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
}

/* Header */
header {
    background-color: #222;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content:center;
    
}

.brand {
    font-size: 20px;
    font-weight: bold;
}

.cart {
    font-size: 16px;
}

.products {
    display: flex;
    flex-wrap: wrap;
}

.item {
    background-color: white;
    width: 220px;
    margin: 15px;
    padding: 15px;
    border: 1px solid #ccc;
}

.product-image {
    width: 100%;
    max-height: 260px;
}
.item h3 {
    margin-top: 0;
}

.item button {
    padding: 6px 10px;
    background-color: #333;
    color: white;
}

.item button:hover {
    background-color:black;
}

/* Footer */
footer {
    background-color: #222;
    color: white;
    text-align: center;
    margin-top:35px;
    padding: 12px;
}


/* form css */

form {
    max-width: 500px;
    margin: 20px;
    padding: 15px;
    border: 1px solid #ccc;
}

form input,
form select,
form textarea {
    padding: 7px;
    margin-top: 5px;
    box-sizing: border-box;
}


