body {
    font-family: Arial;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background: rgb(161, 86, 86);
    color: white;
}

nav {
    background: #f4f4f4;
    padding: 10px;
    text-align: center;
}

nav a {
    margin: 15px;
    text-decoration: none;
    color: black;
}

.container {
    display: flex;
}

.searchbar {
    width: 350px;
    height: 32px;
    padding: 4px 10px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ccc;
    outline: none;
}
.search-box {
    display: flex;
    align-items: center;
}

#searchBtn {
    height: 32px;
    width: 40px;
    border: 1px solid #ccc;
    background: white;
    cursor: pointer;
}


aside {
    width: 20%;
    padding: 15px;
    background: #f9f9f9;
}

.products {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.card {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

button {
    background: black;
    color: white;
    padding: 8px;
    border: none;
    cursor: pointer;
}

footer {
    background: rgb(145, 81, 81);
    color: white;
    text-align: center;
    padding: 10px;
}
