/* ONLY third table */

#externalTable {
    border: 4px dashed rgb(16, 61, 16);
    width: 500px;
    border-collapse: collapse;
    border-radius: 2px ;
}

#externalTable th {
    background-color: darkgreen;
    color: white;
    padding: 10px;
    text-align: center;
}

#externalTable td {
    background-color: #e7ffe7;
    text-align: center;
    padding: 8px;
}
