#tr{
    border-radius:2px;
    border-width:"1";
    background-color:lightyellow;
    text-align:center;
}

/* tr{

    border-radius:2px;
    border-width:"2px";
    align-items: center;

} */

#lasttable th{
    border-radius:2px;
    border-width:"1";
    background-color:lightyellow;
    text-align:center;
    padding:"15px";
}
#lasttable td{
    border-radius:2px;
    border-width:"1";
    background-color:rgb(168, 224, 224);
    text-align:center;
    padding:"15px";
}
#lasttable{
    border-radius:"2px";
    border-collapse: collapse;
    border-color: rgb(235, 105, 54);
   
}